<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Contact</th>
            <th></th>
            <th></th>
        </tr>
       
    </thead>
    <tbody>
        <tr *ngFor="let data of dataItem">
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.dob}}</td>
            <td>{{data.contactNumber}}</td>
            <td><button type="button" (click)="edit(data)">Edit</button></td>
            <td><button type="button" (click)="deleteStudent(data.id)">Delete</button></td>
        </tr>
    </tbody>
</table>